<mat-card class="example-form">
    <table class="table table-bordered">       
        <tr>
          <th>First Name</th>
          <td>{{DataRecord[0].fname}}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{DataRecord[0].lname}}</td>
          </tr>
          <tr>
              <th>Phone Number</th>
              <td>{{DataRecord[0].phone}}</td>
          </tr>
          <tr>
                <th>Address</th>
                <td>{{DataRecord[0].address}}</td>
          </tr>
          <tr>
              <th>City</th>
              <td>{{DataRecord[0].city}}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{DataRecord[0].state}}</td>
            </tr>
            <tr>
                  <th>Gender</th>
                  <td>{{DataRecord[0].gender}}</td>
            </tr>
      </table>
</mat-card>
